# This file contains code that is derived from Stability AI's software products, 
# which are licensed under the Stability AI Non-Commercial Research Community License Agreement.
# Copyright (c) Stability AI Ltd. All Rights Reserved.
#
# The original work is provided by Stability AI and is available under the terms of the 
# Stability AI Non-Commercial Research Community License Agreement, dated November 28, 2023.
# For more information, see https://stability.ai/use-policy.

# Dependencies for [stable-cascade-one-click-installer]
# This project uses the following open-source packages:

--find-links https://download.pytorch.org/whl/torch_stable.html
accelerate>=0.25.0
einops>=0.7.0
gradio
kornia>=0.7.0
matplotlib>=3.7.4
munch>=4.0.0
numpy>=1.23.5
onnx2torch>=1.5.13
onnxruntime>=1.16.3
opencv-python>=4.8.1.78
peft
torch>=2.1.2+cu118
torchtools @ git+https://github.com/pabloppp/pytorch-tools
torchvision>=0.16.2+cu118
tqdm>=4.66.1
transformers>=4.30.0
wandb>=0.16.2
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
webdataset>=0.2.79
